.dark {
    background-color: #191919;
}

.dark .tema button {
    background: #FFFF;
}

.dark .input-city {
    caret-color: #FFAA00;
}

.dark .pesquisa button {
    background-color: #FFAA00;
    color: #f3f4fb;
}

.dark .cidade {
    color: #FFFF;
    font-weight: 500;
    font-size: 30px;
}

.dark #data,
.dark .temp-agora,
.dark .detalhe-paragrafo {
    color: #FFFF;
}

.dark .descricao,
.dark .temp {
    color: #FFAA00;
}

.dark .detalhes {
    border: 1px solid #FFAA00;
}

.dark .sensacao-termica,
.dark .umidade,
.dark .vento {
    color: #FFAA00;
}

.dark .menu-lateral img {
    filter: invert(1);
    /*Mudar a cor de uma imagem*/

}