@media (max-width: 1280px) {
  
}

 @media (max-width: 967px) {
    
 }

@media (max-width: 768px) {

}

@media (max-width:548px){
 
}

@media (max-width: 499px){
    .detalhes-tempo{
       
        width: 90%;  
    }

    .detalhe-paragrafo{
        font-size: 13px;
    }
    
    .sensacao-termica,
    .umidade,
    .vento{
        font-size: 13px;
    }
     

}

@media (max-width: 425px) {
 

}
@media (max-width: 425px) {

}

@media (max-width: 310px) {


}